@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-primaryBlue_bg;
    @apply text-white;
    @apply font-montserrat;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.bottom-bg {
    background: linear-gradient(0deg, rgba(17,24,39,1) 5%, rgba(17,24,39,0) 100%);
}